html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover")
        title='Vista de Productos'
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sketchy/bootstrap.min.css", integrity="sha384-RxqHG2ilm4r6aFRpGmBbGTjsqwfqHOKy1ArsMhHusnRO47jcGqpIQqlQK/kmGy9R", crossorigin="anonymous")

    body
        div(class="container mt-3")
            block vista
