<div class="row">
  <div class="col">
    <div class="card text-bg-light mb-3">
      <div class="card-header">Home</div>
        <div class="card-body">
          <a href="/info" class="btn btn-primary">Informacion del Sistema</a>
          <a href="/api/randoms?cant=2000" class="btn btn-primary">Randoms</a>
        </div>
    </div>
  </div>
</div>

